
<br>
<br>
<div class="center">
  <h3 class="header">ABOUT WE TECH</h3>
  <p class="header-des">
    WE Tech forum was launched in EGS India & Manila on September 17 2019, with an objective of
    "Building a unique space for women in Technology". This forum helps women technologies learns
    from and support each other, broaden and deepen our expertise in technologies, enable us to
    identify nd solve common challenges, and inspire us to grow professionally.
  </p>
</div>

<br>
<div class="center">
  <h3 class="header">Team Member</h3>
</div>
<br>

<div class="row">
  <div class="col-sm-4">
    <div id="avatar-sudhan"></div>
    <div class="center">
      <p class="avatar-name">Preethi Doss</p>
      <p class="avatar-des">Technology Manager - Cloud Enablement</p>
      <p class="avatar-role">Created platform for women technologists to collaborate, self-develop & contribute</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="avatar-sudhan"></div>
    <div class="center">
      <p class="avatar-name">Saakshi Gupta</p>
      <p class="avatar-des">Apps Programmer/Analyst - IT for IT Data</p>
      <p class="avatar-role">Machine Learning Model Development</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="avatar-sudhan"></div>
    <div class="center">
      <p class="avatar-name">Umamaheswari Kathivel</p>
      <p class="avatar-des">Apps Programmer/Analyst - IT for IT Data</p>
      <p class="avatar-role">Machine Learning Model Development</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-4">
    <div id="avatar-sudhan"></div>
    <div class="center">
      <p class="avatar-name">Harika Sagi</p>
      <p class="avatar-des">Tech Lead - Mainframe, PVSI</p>
      <p class="avatar-role">Machine Learning Content & REST API Implementation</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="avatar-sudhan"></div>
    <div class="center">
      <p class="avatar-name">Dia Serene Darwin</p>
      <p class="avatar-des">QA Lead - Equipment Finance, WWIT</p>
      <p class="avatar-role">Machine Learning Content & REST API Implementation</p>
    </div>
  </div>
  <div class="col-sm-4">
    <!--<div id="avatar-sudhan"></div>-->
    <!--<div class="center">-->
      <!--<p class="avatar-name">Sudhan</p>-->
      <!--<p class="avatar-des">Application System/ Analytics</p>-->
    <!--</div>-->
  </div>
</div>

<br>
<br>

<div>
  <div class="row">
    <div class="col-sm-6 end">
      <button class="button" mat-raised-button color="primary" (click)="leaderBoard()">Leaderboard</button>
    </div>
    <div class="col-sm-6">
      <button class="button" mat-raised-button color="primary" (click)="challenge()">Challenge</button>
    </div>
  </div>
</div>
